body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: darkseagreen;
}

#noButton{
  position: absolute;
  margin-left: 150px;
  transition: 0.5s;
}

#yesButton{
  position: absolute;
  margin-right: 150px;
}

.header{
  font-family: ‘Dekko’;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.btn{
  background-color: cadetblue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.gif-container{
  margin: 50px;
}

.gif{
  width: 400px;
}